[Unit]
Description=nexus.service
After=network.target

[Service]
Type=forking
PIDFile=option
LimitNOFILE=35536
ExecStart=/opt/registry/nexus-3.20.1-01/bin/nexus start
ExecStop=/opt/registry/nexus-3.20.1-01/bin/nexus stop
User=nexus
Restart=on-abort

[Install]
WantedBy=multi-user.target
